<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RMF.Service.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RMF.Service.AppSettings>
            <setting name="Path1" serializeAs="String">
                <value>\\localhost\mirror\local</value>
            </setting>
            <setting name="Path2" serializeAs="String">
                <value>\\localhost\mirror\remote</value>
            </setting>
            <setting name="CheckIntervalSec" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ExcludedFiles" serializeAs="String">
                <value>*.lnk,openfiles.dat,~$*.*</value>
            </setting>
            <setting name="LoggerVerbosity" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ExcludedFolders" serializeAs="String">
                <value>SubFolder1, SubFolder2</value>
            </setting>
        </RMF.Service.AppSettings>
    </userSettings>
</configuration>